<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikolina.restaurantappreceiver">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyCi8sB21j5rTLKhWLihLrD7UcBU6QZCQLQ"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCi8sB21j5rTLKhWLihLrD7UcBU6QZCQLQ" />

        <receiver
            android:name=".FenceReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.receive.ACTION_RECEIVE_GEOFENCE" />
            </intent-filter>
        </receiver>

    </application>



</manifest>